root = true

# https://pinterest.github.io/ktlint/rules/configuration-ktlint/
[*.{kt,kts}]
# Compose 函数命名规则 - 允许 @Composable 注解的函数以大写开头
ktlint_function_naming_ignore_when_annotated_with = Composable
# 基础缩进 4 个空格
indent_size = 4
# 续行缩进 16 个空格
continuation_indent_size = 20